/* styles.css */

body {
    font-family: 'Roboto', sans-serif; /* Use your preferred font-family */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  .form-field {
    margin-bottom: 16px;
  }
  
  .submit-button {
    margin-top: 20px;
  }
  